.nasmat {
  .image-wrap {
    svg {
      path {

        &:first-child,
        &:nth-child(2) {
          stroke: #637DB6;
          stroke-width: 1px;
          stroke-dasharray: 381;
          stroke-dashoffset: 381;
          fill: transparent;
          animation: animateLogo 2s linear forwards, logoFill 1.5s forwards linear 2.2s;
        }

        &:last-child {
          offset-path: path("M91.3998 60.444L90.9184 60.8437C87.1495 63.9797 81.1985 63.8414 77.625 60.5286C71.6127 54.9535 65.5392 49.4373 59.6145 43.7879C56.9278 41.2284 54.244 38.674 51.5981 36.0838C49.2878 33.8189 46.8023 31.513 43.5176 30.3703C38.9289 28.7741 33.3572 29.0483 29.1215 31.3208C24.8362 33.619 22.4354 37.4878 21.8286 41.7818C21.4435 44.5053 22.2428 47.1929 24.3578 49.2426C27.975 52.7475 32.0824 55.8451 35.7872 59.2809C41.0468 64.1616 46.3093 69.0373 51.569 73.918C55.0871 77.177 58.6052 80.4411 62.1203 83.7001C62.7329 84.2689 63.2376 84.8966 63.6285 85.5602L43.4214 91.2275C40.9185 88.9088 38.4155 86.5876 35.9155 84.2689C28.7918 77.6638 21.6711 71.0562 14.5474 64.4537C9.86243 60.1084 4.21191 55.9963 2.02112 50.1163C-0.114232 44.3875 1.14891 38.1027 3.80352 32.6864C5.34961 29.5376 7.35951 26.4042 9.87993 23.7704C9.98495 23.6474 10.0871 23.5244 10.195 23.4014C14.4015 18.5847 20.265 14.9517 26.9161 13.2607C33.7568 11.5185 42.3595 11.6568 49.1331 13.5733C49.7837 13.7603 50.4254 13.9679 51.0555 14.2061C55.0345 15.7075 58.538 18.0569 61.6536 20.6677C66.9132 25.0873 71.6915 29.9143 76.5719 34.6515C81.5135 39.4478 86.6973 44.0672 91.7615 48.7635C95.335 52.0814 95.1717 57.3081 91.3998 60.444Z");
          offset-distance: 36%;
          transform: translate(-85px, -46px);
          opacity: 0;
          animation: opp .5s linear forwards 2.7s, move 1s linear forwards 3s;
        }
      }
    }
  }
}




@keyframes animateLogo {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes logoFill {
  to {
    fill: #637DB6;
  }
}

@keyframes opp {
  to {
    opacity: 1;
  }
}

@keyframes move {
  to {
    offset-distance: 2%;
  }
}